extends ../views/layout

block content
  .pool
    .pool-id
      a(href='/#{prefix}/#{id}') Pool ##{id}
    .question= question
    ul.choices
      for choice, i in choices
        li.choice
          a(href='/#{prefix}/#{id}/choose/#{i}')= choice
    ul.votes
      for vote, i in votes
        li.vote
          label.choice Chose #{vote.choice} @ #{vote.date}
